<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/inventory_management?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hbm2ddl.auto">update</property>
    <!--<property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>-->
    <mapping resource="com/flow/inventory/model/UserRoles.hbm.xml"/>
    <mapping resource="com/flow/inventory/model/Users.hbm.xml"/>
    <mapping resource="com/flow/inventory/model/ChartOfAccounts.hbm.xml"/>
    <mapping resource="com/flow/inventory/model/PaymentTerms.hbm.xml"/>
    <mapping resource="com/flow/inventory/model/PartnerAccounting.hbm.xml"/>
    <mapping resource="com/flow/inventory/model/Partners.hbm.xml"/>
    <mapping resource="com/flow/inventory/model/Items.hbm.xml"/>
    <mapping resource="com/flow/inventory/model/PartnerType.hbm.xml"/>
    <mapping resource="com/flow/inventory/model/AddressType.hbm.xml"/>
    <mapping resource="com/flow/inventory/model/UnitsOfMeasurement.hbm.xml"/>
    <mapping resource="com/flow/inventory/model/Addresses.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
